.hero table td{
    border: none;
    color: #fff;
    font-weight: 500;
}
.hero a{
    text-decoration: none;
    color: #fff;
    font-weight: 700;
}

.box table{
    background: none;
    color: #fff;
}
.box table strong{
    color: #fff;
}
.box table.is-narrow td, .box table.is-narrow  th,
.hero table td, .hero table  th{
    color: #fff;
    border: none;
    margin-left: 0;
    padding-left: 0;
}
.box table.is-narrow thead td,
.hero .table thead td{
    color: #000;
}
.box table.is-narrow td{
    text-align: right;
}
.hero table tbody td{
    color: #fff;
}
